<<<<<<< HEAD
<h1>Les amazones</h1>
<p></p>
=======
<%= image_tag "logo.jpg", style: "width: 100%" %>

<div class="container">
  <div>
    <h1 class="text-center m-2">Les AMAZONES</h1>
  </div>
  <div>
    <p class="text-center">Girls Power</p>
    <p class="text-center"> Déplacez vous où en sécurité  quand vous voulez !</p>
  </div>
</div>
>>>>>>> 5ce9864812c6a3db779ca93ba72319365575dd91
