<%= image_tag "logo.jpg", style: "width: 100%" %>

<div class="container">
  <div>
    <h1 class="text-center m-2">Les AMAZONES</h1>
  </div>
  <div>
    <p class="text-center">Girls Power</p>
    <p class="text-center"> Déplacez vous en sécurité quand vous voulez !</p>
    <p class="text-center m-4"> Recherchez votre trajet </p>
  </div>


</div>
