.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 80%;
  margin: auto;
  border-radius: 16px;
  position: relative;
}

.card-trip > img {
  height: 100px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip .card-trip-user {
    position: absolute;
    right: 43%;
    top: 130px;
    width: 40px;
    height: 40px;
}
