.divider_bar_yellow {
  height: 3px;
  width: 40%;
  margin: 0 auto;
  background-color: $yellow;
  border-radius: 4px;
}

.divider_bar_white {
  height: 3px;
  width: 40%;
  margin: 0 auto;
  background-color: $light-gray;
  border-radius: 4px;
}
