.navbar-amz {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #DC2440;
  height: 50px;
  padding: 5px;
  font-family: Rubik;
  font-size: 13px;
  color: #FFFFFF;
  text-decoration: none;
}

.navbar-item {
  color: white;
  text-decoration: none;
  opacity: 0.7;
}

.navbar-item-active {
  color: white;
  text-decoration: none;
  opacity: 1;
}
