
.navbar-amz {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #DC2440;
  height: 50px;
  padding: 5px;
  font-family: Rubik;
  font-size: 13px;
  color: #FFFFFF;
}
