@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

h1 {
  color: $red;
  font-family: 'Rubik', bold;
  font-weight: 600;


}

p {
  font-size: 'Rubik', bold;
  font-size: 14px;
  font-weight: 600;
}
